.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: .25;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none; }

.form{
  width: 220px;
}
.textfield{
  width: 420px;
}